@mixin flex($justify_content,$direction, $align_items,$wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

@mixin button-styles($bg-color, $hover-color, $text-color) {
  background: $bg-color;
  color: $text-color;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;

  &:hover {
    background: $hover-color;
  }
}

@mixin espacio($width, $padding, $margin, $max-width) {
  width: $width;
  padding: $padding;
  margin: $margin;
  max-width: $max-width;
}
