$primary-color: #b8c0e0;
$secondary-color: #2a283d;
$color-body: #24273a;
$accent-color: #91d7e3;
$blanco: #FFFFFF;
$titulo: #8aadf4;
$bordecaja: #61568c;
$fondocaja: #1e2030;

$background-color: #24273a;
$font-family: 'Funnel Sans', serif;
// $font-size-large: 50px;
// $font-size-medium: 40px;
// $font-size-small: 18px;
