$colores: (
  "primario": #b8c0e0,
  "secundario": #2a283d,
  "cyan": #91d7e3,
  "celeste": #8aadf4,
  "blanco": #FFFFFF,
  "negro": #000000,
  "gris": #6d6688
);

$fondos: (
  "body": #24273a,
  "caja": #1e2030,
  "campo": #45475a,
  "contacto": #313244,
  "codigo": #1e1e2e
);

$bordes: (
  "caja": #61568c,
  "animacion": #799cff
);

$tipografia: (
  "contacto": #cdd6f4
);

$fuente: 'Funnel Sans', serif;
$esp-gap: 20px;
