$primary-color: #b8c0e0;
$secondary-color: #2a283d;
$color-body: #24273a;
$accent-color: #91d7e3;
$celeste: #8aadf4;
$bordecaja: #61568c;
$bordeanimacioncaja: #799cff;
$fondocaja: #1e2030;
$fondocampo: #45475a;
$fondocontacto:#313244;
$colorfontcontacto: #cdd6f4;
$codigocolor: #1e1e2e;
$background-color: #24273a;
$blanco: #FFFFFF;
$negro: #000000;
$gris: #6d6688;

$font-family: 'Funnel Sans', serif;
