.cajas{
  @include flex(flex-start, column, stretch, nowrap);
  @include espacio(100%, 12px, auto, 1050px);
  gap: $esp-gap;

  article{
    background-color: map-get($fondos, "caja");
    border: 2px solid map-get($bordes, "caja");
    border-radius: 10px;
    padding: 18px;

    h3{
      font-size: 20px;
      padding-bottom: 10px;
      color: map-get($colores, "blanco");
    }

    p{
      font-size: 16px;
    }
  }
}
