
pre {
  background-color: $codigocolor;
  @include flex(center, row, self-start, nowrap);
  color: $blanco;
  height: 50px;
  border-radius: 5px;
  padding: 10px 20px;
  overflow-x: auto;
  white-space: pre;

  code{
    font-size: 16px;
  }
}


