%input-styles {
  background: #45475a;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  color: #cdd6f4;
}

.contacto-container{
  background: #313244;
  @include espacio(100%, 30px, 50px auto, 500px);
  border-radius: 10px;
  text-align: center;

  h1{
    color: #89b4fa;
    font-size: 2rem;
  }

  p{
    margin-bottom: 20px;
  }

  label{
    display: block;
    font-weight: bold;
    margin-top: 15px;
  }

  input{
    @extend %input-styles;
  }

  textarea{
    @extend %input-styles;
    height: 120px;
    resize: none;
  }

  button{
    @include button-styles(#89b4fa, #74c7ec, #1e1e2e);
  }
}

