%input-styles {
  background: map-get($fondos, "campo");
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  color: map-get($tipografia, "contacto");
}

.contacto-container{
  background: map-get($fondos, "contacto");
  @include espacio(100%, 30px, 50px auto, 500px);
  border-radius: 10px;
  text-align: center;

  h1{
    color: map-get($colores, "celeste");
    font-size: 2rem;
  }

  p{
    margin-bottom: 20px;
  }

  label{
    display: block;
    font-weight: bold;
    margin-top: 15px;
  }

  input{
    @extend %input-styles;
  }

  textarea{
    @extend %input-styles;
    height: 120px;
    resize: none;
  }

  button{
    @include button-styles(map-get($colores, "celeste"), map-get($colores, "cyan"), map-get($colores, "negro"));
  }
}

