.titulo-imagen{
  h1{
    font-size: 42px;
    text-align: center;
    padding: 20px;
  }

  h2{
    font-size: 36px;
    padding: 24px;
  }

  p{
    max-width: 1050px;
    margin: auto;
    padding: 14px;
    padding-bottom: 16px;
    font-size: 18px;
  }
  img{
    width: 100%;
  }


}
