@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Sans", serif;
  color: #b8c0e0;
  background-color: #24273a;
  padding-top: 80px;
}

header {
  background-color: #2a283d;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
header nav {
  height: 80px;
}
header nav input {
  display: none;
}
header nav input:checked + ul {
  height: calc(100vh - 80px);
}
header nav label {
  cursor: pointer;
}
header nav label svg {
  margin-top: 10px;
}
header nav a img {
  width: 140px;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #2a283d;
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
header nav ul a {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
header nav ul a svg {
  fill: grey;
}
header nav ul a svg:hover {
  fill: #91d7e3;
}
header nav ul a:hover {
  color: #91d7e3;
  text-decoration: none;
}

footer {
  border-top: 1px solid #6d6688;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
footer p svg {
  fill: #b8c0e0;
}

.titulo p, .titulo h1 {
  width: 100%;
  text-shadow: 1px 1px 5px #000000;
  padding: 10px 20vw;
}

.titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: self-start;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  height: 60vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/linuxconfig.webp");
  background-size: cover;
  background-position: center center;
}
.titulo h1 {
  color: #8aadf4;
  font-size: 50px;
}
.titulo p {
  font-size: 40px;
  font-weight: bold;
}

.titulo-parrafo {
  width: 100%;
  padding: 14px;
  margin: auto;
  max-width: 1050px;
}
.titulo-parrafo h1 {
  padding: 16px;
  text-align: center;
  font-size: 42px;
}
.titulo-parrafo h2 {
  font-size: 32px;
  padding: 16px;
  text-align: start;
}
.titulo-parrafo h3 {
  padding: 16px;
  font-size: 24px;
}
.titulo-parrafo p {
  padding-bottom: 16px;
  font-size: 18px;
}
.titulo-parrafo ul li {
  list-style: outside;
  margin: 20px;
  font-size: 22px;
}
.titulo-parrafo ul ul li {
  font-size: 18px;
  list-style: none;
  color: #9fd2f3;
}
.titulo-parrafo .centrar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}
.titulo-parrafo .centrar .imagen-wiki {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  border: 2px solid #61568c;
  border-radius: 10px;
  gap: 20px;
  width: 400px;
}
.titulo-parrafo .centrar .imagen-wiki figure {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
}
.titulo-parrafo .centrar .imagen-wiki figure img {
  border-radius: 10px;
}
.titulo-parrafo .centrar .imagen-wiki .logo-C {
  width: 50%;
}

.cajas {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  padding: 12px;
  margin: auto;
  max-width: 1050px;
  gap: 20px;
}
.cajas article {
  background-color: #1e2030;
  border: 2px solid #61568c;
  border-radius: 10px;
  padding: 18px;
}
.cajas article h3 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #FFFFFF;
}
.cajas article p {
  font-size: 16px;
}

.imagen-grande img {
  width: 100%;
}

.titulo-imagen h1 {
  font-size: 42px;
  text-align: center;
  width: 100%;
  padding: 20px;
  margin: 0;
  max-width: none;
}
.titulo-imagen h2 {
  font-size: 36px;
  text-align: center;
  width: 100%;
  padding: 24px;
  margin: 0;
  max-width: none;
}
.titulo-imagen p {
  width: 100%;
  padding: 14px;
  margin: auto;
  max-width: 1050px;
  padding-bottom: 16px;
  font-size: 18px;
}
.titulo-imagen img {
  width: 100%;
}

code {
  color: #FFFFFF;
}

.codigo {
  background-color: #1e1e2e;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 5px;
  padding: 0;
  position: relative;
}
.codigo .boton-codigo {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  border-bottom: solid 0.5px #6d6688;
}
.codigo .boton-codigo button {
  background: #8aadf4;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0;
}
.codigo .boton-codigo button:hover {
  background: #91d7e3;
}
.codigo .comando {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 20px 30px;
}
.codigo .comando code {
  color: #FFFFFF;
  font-size: 16px;
}
.codigo .comando code span {
  color: #8aadf4;
}

.contacto-container textarea, .contacto-container input {
  background: #45475a;
  padding: 10px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  color: #cdd6f4;
}

.contacto-container {
  background: #313244;
  width: 100%;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}
.contacto-container h1 {
  color: #8aadf4;
  font-size: 2rem;
}
.contacto-container p {
  margin-bottom: 20px;
}
.contacto-container label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
.contacto-container textarea {
  height: 120px;
  resize: none;
}
.contacto-container button {
  background: #8aadf4;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}
.contacto-container button:hover {
  background: #91d7e3;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  height: 400px;
  overflow: hidden;
}

@media (min-width: 850px) {
  header nav .checkbtn {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    position: static;
    width: auto;
    height: auto;
    gap: 20px;
    margin: 0;
  }
  header nav ul a {
    font-size: 18px;
    margin-top: 0;
    text-decoration: none;
  }
  header nav ul a:hover {
    text-decoration: none;
  }
  header nav ul a svg {
    width: 28px;
    margin-top: 8px;
  }
  /*--------------------------------------------------------------*/
  .cajas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .cajas article {
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  .cajas article:hover {
    transform: scale(1.1);
    border-color: #799cff;
  }
  .cajas article p {
    font-size: 18px;
  }
  /*--------------------------------------------------------------*/
  .titulo-parrafo p {
    font-size: 22px;
  }
  .titulo-parrafo h2 {
    padding: 0;
    padding-bottom: 16px;
  }
  .titulo-parrafo h3 {
    padding: 16px;
    font-size: 24px;
  }
  .titulo-parrafo li {
    font-size: 20px;
  }
  /*--------------------------------------------------------------*/
  .imagen-derecha {
    display: flex;
    gap: 40px;
  }
  .lista-imagen {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
  }
  .lista-imagen li {
    list-style: inside;
    padding: 12px;
    font-size: 20px;
    margin: 10px;
  }
  /*--------------------------------------------------------------*/
  .contenedor {
    height: 65vh;
  }
  .contenedor img, .contenedor video {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
  }
  /*--------------------------------------------------------------*/
  .titulo-imagen p {
    font-size: 23px;
  }
  .titulo-imagen figure {
    display: flex;
    justify-content: center;
  }
  .titulo-imagen figure img {
    width: 80%;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
