@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Sans", serif;
  color: #b8c0e0;
  background-color: #2a283d;
}

header {
  background-color: #2a283d;
  height: 80px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  padding: 0 2rem;
}
.navbar input {
  display: none;
}
.navbar input:checked + ul {
  height: calc(100vh - 80px);
}
.navbar label {
  cursor: pointer;
}
.navbar label svg {
  margin-top: 10px;
}
.navbar a img {
  width: 140px;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #2a283d;
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.navbar ul a {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.navbar ul a svg {
  fill: grey;
}
.navbar ul a svg:hover {
  fill: #91d7e3;
}
.navbar ul a:hover {
  color: #91d7e3;
}

footer {
  border-top: 1px solid #6d6688;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
footer p svg {
  fill: #b8c0e0;
}

.titulo p, .titulo h1 {
  width: 100%;
  text-shadow: 1px 1px 5px #000000;
  padding: 10px 20vw;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  height: 60vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/img/linuxconfig.png");
  background-size: cover;
  background-position: center center;
}
.titulo h1 {
  color: #8aadf4;
  font-size: 50px;
}
.titulo p {
  font-size: 40px;
  font-weight: bold;
}

.titulo-parrafo {
  max-width: 1050px;
  margin: auto;
  padding: 14px;
}
.titulo-parrafo h1 {
  padding: 16px;
  text-align: center;
  font-size: 42px;
}
.titulo-parrafo h2 {
  font-size: 32px;
  padding: 16px;
  text-align: start;
}
.titulo-parrafo h3 {
  padding: 16px;
  font-size: 24px;
}
.titulo-parrafo p {
  padding-bottom: 16px;
  font-size: 18px;
}
.titulo-parrafo li {
  list-style: outside;
  margin: 20px;
  font-size: 20px;
}
.titulo-parrafo .centrar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}
.titulo-parrafo .centrar .imagen-wiki {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  border: 2px solid #686aa0;
  border-radius: 10px;
  gap: 20px;
  width: 400px;
}
.titulo-parrafo .centrar .imagen-wiki figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
}
.titulo-parrafo .centrar .imagen-wiki figure img {
  border-radius: 10px;
}
.titulo-parrafo .centrar .imagen-wiki .logo-C {
  width: 50%;
}

.cajas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 12px;
  max-width: 1050px;
  margin: auto;
  gap: 20px;
}
.cajas article {
  padding: 18px;
  border: 2px solid #61568c;
  border-radius: 10px;
  background-color: #1e2030;
}
.cajas article h3 {
  font-size: 20px;
  padding-bottom: 10px;
  color: #FFFFFF;
}
.cajas article p {
  font-size: 16px;
}

.imagen-grande img {
  width: 100%;
}

.titulo-imagen h1 {
  font-size: 42px;
  text-align: center;
  padding: 20px;
}
.titulo-imagen h2 {
  font-size: 36px;
  padding: 24px;
}
.titulo-imagen p {
  max-width: 1050px;
  margin: auto;
  padding: 14px;
  padding-bottom: 16px;
  font-size: 18px;
}
.titulo-imagen img {
  width: 100%;
}

.contacto-container textarea, .contacto-container input {
  background: #45475a;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  color: #cdd6f4;
}

.contacto-container {
  background: #313244;
  max-width: 500px;
  padding: 30px;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
}
.contacto-container h1 {
  color: #89b4fa;
  font-size: 2rem;
}
.contacto-container p {
  margin-bottom: 20px;
}
.contacto-container label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
.contacto-container textarea {
  height: 120px;
  resize: none;
}
.contacto-container button {
  background: #89b4fa;
  color: #1e1e2e;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s;
}
.contacto-container button:hover {
  background: #74c7ec;
}

/*# sourceMappingURL=style.css.map */
